*{
    margin:0;
    padding:0;
}
.tabs{
    border: 1px solid #cccccc;
    display: flex;
}
.tabs--sidebar{
    width:125px;
    flex-shrink: 0;
    background-color: white;
}
.tabs--button{
    display:block;
    padding:10px;
    background-color: #eeeeee;
    border:none;
    width:100%;
    outline:none;
    cursor:pointer;
}
.tabs--button:active{
    background-color: #dddddd;
}
.tabs--button:not(:last-of-type){
    border-bottom:1px solid #cccccc;
}
.tabs--button--active{
    font-weight: bold;
    border-right: 2px solid #009879;
    background-color:#dddddd ;
}
.tabs--content{
    padding:15px;
    font-size:0.8rem;
    display:none;
}
.tabs--content--active{
    display:block;
}

 .tabs--content >:first-child{
    margin-top: 0;
} 
